.clients {
  padding-bottom: 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 80px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__slider {
    &::after {
      content: '';
      display: block;
      background-color: var(--grey-light-color);
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}
