.footer {
  margin-top: auto;

  &__top {
    padding: 40px 0;
    background-color: var(--black-color);
  }

  &__top-wrapper {
    display: flex;

    @media screen and (width <= 576px) {
      flex-direction: column;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 63px;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__img {
    width: 247px;
    height: 46px;
  }

  &__contacts-block {
    margin-right: 32px;
    width: 100%;
    max-width: 304px;

    @media screen and (width <= 991px) {
      margin-right: 20px;
    }

    @media screen and (width <= 768px) {
      margin-right: 0;
    }
  }

  &__adr {
    font-style: normal;
  }

  &__adr,
  &__link {
    display: inline-block;
    margin-bottom: 8px;
    font-family: 'OswaldBold';
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--white-color);
  }

  &__worktime,
  &__btn-trigger {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-family: 'OswaldMedium';
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--accent-color);
    text-underline-offset: 2px;

    svg {
      margin-right: 4px;
    }
  }

  &__write-us,
  &__adress,
  &__call {
    margin-bottom: 24px;
  }

  &__bot {
    padding: 8px 0;
    font-size: 14px;
    line-height: 1.8;
    color: var(--white-color);
    background-color: var(--grey-color);

    @media screen and (width <= 576px) {
      padding: 16px 0;
    }
  }

  &__bot-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media screen and (width <= 576px) {
      flex-direction: column;
      row-gap: 8px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    line-height: 1.2;
    color: var(--white-color);

    @media screen and (width <= 991px) {
      font-size: 16px;
    }

    @media screen and (width <= 768px) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 126px;

      @media screen and (width <= 991px) {
        margin-right: 50px;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    font-family: 'OswaldSemiBold';
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0.6;
  }

  &__block-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__socials {
    margin-top: 80px;

    &--mobile {
      display: none !important;
      margin-top: 0;

      @media screen and (width <= 768px) {
        display: flex !important;
        align-self: flex-start;
      }
    }
  }

  &__copy {
    margin-right: 10px;
  }
}
