.header-search {
  position: absolute;
  left: 0;
  transform: translateY(-300%);
  width: 100%;
  visibility: none;
  opacity: 0;
  z-index: 3;
  transition:
    opacity 0.4s,
    visibility 0.4s ease-in-out;
  visibility: visible;

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__wrapper {
    background-color: var(--white-color);
    padding: 40px 0;
  }
}
