.header {
  position: relative;
  z-index: 5;

  &__top {
    background-color: var(--white-color);

    @media screen and (max-width: 1025px) {
      background-color: var(--bg-grey-color);
    }
  }

  &__top,
  &__nav {
    position: relative;
    z-index: 3;
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 30px 0;

    @media screen and (max-width: 1104px) {
      padding: 20px 0;
    }

    @media screen and (max-width: 1025px) {
      padding: 15px 0;
    }

    @media screen and (max-width: 768px) {
      padding: 7px 0;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1025px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    column-gap: 64px;

    @media screen and (max-width: 1025px) {
      column-gap: 41px;
      justify-content: center;
      width: 100%;
    }

    @media screen and (max-width: 991px) {
      column-gap: 0;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: 40px;

    @media screen and (max-width: 991px) {
      margin-right: 0;
    }
  }

  &__partners {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__partners-text {
    color: var(--black-light-color);
    font-size: 16px;
    font-family: 'NeverMindMedium';
    opacity: 0.7;
    margin-bottom: 2px;
  }

  &__partners-list {
    display: flex;
  }

  &__partners-item:not(:last-of-type) {
    margin-right: 20px;
  }

  &__write-us {
    @media screen and (max-width: 576px) {
      margin-right: 5px;
    }
  }

  &__nav {
    background-color: var(--green-light-color);

    @media screen and (max-width: 991px) {
      background-color: var(--white-color);
    }
  }

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__service {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: 'OswaldSemiBold';
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 32px;
    transition: background-color ease 0.3s;

    &:hover {
      background-color: var(--green-dark-color);
    }

    @media screen and (max-width: 1104px) {
      padding: 0 16px;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    transition: background-color ease 0.3s;
    max-width: 72px;
    width: 100%;
    margin-right: auto;

    &:hover {
      background-color: var(--green-dark-color);
    }

    &--active {
      background-color: var(--green-dark-color);
    }

    @media screen and (max-width: 1104px) {
      font-size: 19px;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__nav-mobile {
    display: none;
    padding: 28px 0;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 991px) {
      display: flex;
    }
  }
}
