.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: rgba($color: #3a3a3a, $alpha: 0.6);

  &:hover {
    &::after {
      transform: translateY(0);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 8px;
    background-image: url('../../../img/arrow-select.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 22px;
    top: 50%;
    transition: 0.25s all ease;
    transform: translateY(-50%);
  }

  //Сбрасываем стили дефолтного селекта
  &__select {
    cursor: pointer;
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
    display: none;
  }
}
