.form {
  &--popup {
    .form__label-name {
      color: var(--black-color);
    }

    .form__input,
    .form__textarea,
    .form__select {
      border: 1px solid var(--grey-light-color);
    }

    .form__text {
      color: var(--black-color);
    }

    .form__text-link:hover {
      color: var(--accent-color);
      transition: color ease 0.3s;
    }

    .form__button:hover {
      background-color: var(--green-dark-color);
    }
  }

  &__block {
    display: flex;
    margin-bottom: 16px;

    label {
      flex-grow: 1;

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__label-name {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--white-color);
    opacity: 0.6;
  }

  &__textarea {
    height: 116px;
    resize: none;
  }

  &__label {
    .just-validate-error-label {
      margin-top: 8px;
    }

    &--name,
    &--textarea {
      display: block;
      margin-bottom: 16px;
    }

    &--checkbox {
      display: inline-block;
      margin-right: 8px;
    }
  }

  &__textarea,
  &__input,
  &__select {
    display: block;
    outline: transparent;
    border: 2px solid transparent;
    padding: 16px 24px;
    width: 100%;
    background-color: var(--white-color);
    transition: border-color ease-in-out 0.2s;

    &::placeholder {
      font-size: 20px;
      color: var(--black-color);
      opacity: 0.6;
    }

    &:focus {
      border-color: var(--green-dark-color);
    }
  }

  &__input,
  &__select {
    height: 58px;
  }

  &__select-option {
    color: var(--black-color);
    opacity: 0.6;
  }

  &__button {
    display: inline-block;
    border: 1px solid var(--white-color);
    padding: 13px 24px;
    height: 48px;
    font-family: 'OswaldMedium';
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    transition:
      background-color ease 0.3s,
      color ease 0.3s;

    &:hover {
      color: var(--accent-color);
      background-color: var(--white-color);
    }
  }

  &__approval {
    display: flex;
    margin-bottom: 32px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.1;
    color: var(--white-color);
  }

  &__text-link {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .just-validate-error-label {
    font-size: 15px;
    line-height: 1;
  }
}
