.hamburger-lines {
  display: block;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  margin-right: 11px;
  width: 15px;
  height: 15px;

  &--mobile-menu {
    margin-right: 0;
    width: 40px;
    height: 40px;

    .hamburger-lines__line {
      height: 3px;
      background-color: var(--accent-color);

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    .hamburger-lines__line.line1 {
      transform-origin: 15% 50%;
    }

    .hamburger-lines__line.line3 {
      transform-origin: 20% 50%;
    }
  }

  &--dark {
    margin-right: 0;
    width: 24px;
    height: 24px;

    &:hover {
      .hamburger-lines__line {
        background-color: var(--accent-color);
        transition: background-color ease 0.3s;
      }
    }

    .hamburger-lines__line {
      background-color: var(--black-light-color);
    }

    .hamburger-lines__line.line1 {
      transform-origin: 39% -80%;
    }

    .hamburger-lines__line.line3 {
      transform-origin: 0% 0%;
    }
  }

  &--active {
    .line1 {
      transform: rotate(45deg);
    }

    .line2 {
      transform: scaleY(0);
    }

    .line3 {
      transform: rotate(-45deg);
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.2s ease-in-out;
  }

  .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.2s ease-in-out;
  }
}
