.logo {
  display: block;
  width: 247px;
  height: 46px;

  @media screen and (width <= 1104px) {
    width: 219px;
    height: 34px;
  }

  &__img {
    @media screen and (width <= 1104px) {
      width: 219px;
      height: 34px;
    }
  }

  &--right-line {
    position: relative;
    padding-right: 20px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      display: block;
      width: 2px;
      height: 45px;
      background-color: var(--black-light-color);
      opacity: 0.2;
      transform: translateY(-50%);
    }
  }
}
