.popup {
  &__title,
  &__text {
    line-height: 1.4;
  }

  &__title {
    margin-bottom: 16px;
    font-family: 'OswaldBold';
    font-size: 40px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__btn {
    position: absolute;
    right: 22px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
  }
}
