.search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--grey-light-color);
  padding: 17px 24px;
  height: 58px;
  transition: border-color ease 0.3s;

  &:hover {
    border-color: var(--accent-color);
  }

  svg {
    margin-right: 24px;
    opacity: 0.6;
  }

  &__input {
    outline: transparent;
    border: none;
    width: 100%;
    font-size: 20px;
    line-height: 1;
  }

  &__btn {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 17px 24px;
    font-family: 'OswaldSemiBold';
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--accent-color);
    transition: background-color ease 0.3s;

    &:hover {
      background-color: var(--green-dark-color);
    }
  }
}
