.catalog {
  background-color: var(--bg-grey-color);
  padding-top: 41px;

  &--bg-white {
    background-color: var(--white-color);
  }

  &__chapter {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__chapter-content {
    padding: 32px 0 32px 32px;
    max-width: 640px;
    width: 100%;
    z-index: 2;

    @media screen and (width <= 768px) {
      max-width: 100%;
      padding: 16px;
    }
  }

  &__chapter-img {
    position: absolute;
    top: -105px;
    right: -30px;
    max-width: 640px;
    width: 100%;
    z-index: 1;

    @media screen and (width <= 1024px) {
      position: static;
      max-width: 440px;
    }

    @media screen and (width <= 900px) {
      max-width: 380px;
    }

    @media screen and (width <= 768px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media screen and (width <= 768px) {
        display: block;
        margin-bottom: 24px;
        max-width: 100%;
      }
    }
  }

  &__chapter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__chapter-item {
    background-color: var(--bg-grey);
    padding: 8px 12px;
    font-family: 'NeverMindMedium';
    display: flex;
    align-items: center;
    width: fit-content;

    @media screen and (width <= 1024px) {
      font-size: 16px;
    }
  }

  &__chapter-num {
    opacity: 0.6;
    margin-left: 8px;
  }

  &__breadcrumbs {
    margin-bottom: 54px;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 48px;

    &--chapter {
      @media screen and (width <= 768px) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    margin-bottom: 80px;

    @media screen and (width <= 768px) {
      margin-bottom: 48px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    position: relative;

    @media screen and (width <= 768px) {
      padding-top: 48px;
    }

    &--decor {
      padding-bottom: 80px;

      &::after,
      &:before {
        content: '';
        display: block;
        background-color: var(--grey-light-color);
        position: absolute;
        height: 2px;
        width: 100%;
      }

      &::after {
        bottom: 0;
      }

      &::before {
        top: 0;
      }
    }
  }

  &__filter {
    max-width: 304px;
    width: 100%;
    margin-right: 32px;

    @media screen and (width <= 1100px) {
      margin-right: 15px;
    }

    @media screen and (width <= 900px) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      opacity: 1;
      max-width: 100%;
      width: 100%;
      background-color: var(--white-color);
      transform: translateX(200%);
      transition: all 0.3s;
      padding: 16px;
      margin-right: 0;
      height: 100vh;

      &--active {
        transform: translateX(0);
        z-index: 999;
      }
    }
  }

  &__close-btn {
    display: none;

    @media screen and (width <= 900px) {
      display: block;
      position: absolute;
      right: 16px;
      top: 20px;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (width <= 900px) {
      width: 100%;
    }
  }

  &__products-item {
    @media screen and (width <= 900px) {
      .technic-card {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__products-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;

    @media screen and (width <= 576px) {
      margin-bottom: 24px;
    }
  }

  &__sort {
    display: flex;
    column-gap: 16px;
    margin-right: 15px;

    @media screen and (width <= 576px) {
      display: none;
    }
  }

  &__sort-item {
    font-size: 16px;

    &--active {
      font-family: 'NeverMindDemiBold';
    }
  }

  &__quantity-items {
    @media screen and (width <= 900px) {
      display: none !important;
    }
  }

  &__filter-mobile {
    display: none !important;

    @media screen and (width <= 900px) {
      display: flex !important;
    }
  }

  &__products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 40px;

    @media screen and (width <= 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <= 900px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__select {
    display: none !important;

    @media screen and (width <= 576px) {
      display: block !important;
    }
  }
}
