.news-page {
  background-color: var(--bg-grey-color);
  padding: 41px 0 79px 0;

  @media screen and (width <= 576px) {
    padding-top: 16px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__content {
    margin-bottom: 60px;

    @media screen and (width <= 768px) {
      margin-bottom: 40px;
    }
  }

  &__content-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 24px;
  }

  &__list {
    &--grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;

      > .news-page__item:not(:last-child) {
        margin-bottom: 0;
      }

      @media screen and (width <= 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (width <= 576px) {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;

      @media screen and (width <= 576px) {
        margin-bottom: 16px;
      }
    }
  }

  &__breadcrumbs {
    margin-bottom: 54px;

    @media screen and (width <= 1024px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 64px;

    @media screen and (width <= 1024px) {
      margin-bottom: 48px;
      font-size: 30px;
    }
  }

  &__pagination {
    align-self: center;
  }

  &__btns {
    display: flex;
    align-items: center;

    @media screen and (width <= 576px) {
      display: none;
    }
  }

  &__quantity-items {
    margin-right: 24px;
  }

  &__select {
    display: block;
    outline: transparent;
  }

  &__date {
    display: flex;
  }

  &__name {
    opacity: 0.6;
    margin-right: 8px;
  }
}
