.catalog-product {
  &__img {
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    width: 100%;
    height: 228px;
    max-width: 100%;

    @media screen and (width <= 576px) {
      margin-bottom: 8px;
      height: 109px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: opacity ease 0.3s;
    }

    &--menu {
      margin-right: 16px;
      margin-bottom: 0;
      width: 112px;
      height: 88px;
    }
  }

  &__pic {
    width: 100%;
    height: 100%;

    @media screen and (width <= 576px) {
      object-fit: contain;
    }
  }

  &__link {
    &:hover {
      .catalog-product__title {
        color: var(--accent-color);
      }

      .catalog-product__img::before {
        opacity: 1;
      }
    }

    &--menu {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-family: 'OswaldBold';
    font-size: 24px;
    text-transform: uppercase;
    transition: color ease 0.3s;

    @media screen and (width <= 576px) {
      font-size: 18px;
    }
  }

  &__models {
    line-height: 1.2;
    opacity: 0.6;

    @media screen and (width <= 576px) {
      font-size: 16px;
    }
  }
}
