.header-search {
  position: absolute;
  left: 0;
  z-index: 3;
  width: 100%;
  opacity: 0;
  visibility: none;
  visibility: visible;
  transform: translateY(-300%);
  transition:
    opacity 0.4s,
    visibility 0.4s ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__wrapper {
    padding: 40px 0;
    background-color: var(--white-color);
  }
}
