.header-catalog {
  position: absolute;
  left: 0;
  z-index: 3;
  padding: 40px 0 58px;
  width: 100%;
  background-color: var(--white-color);
  opacity: 0;
  visibility: none;
  visibility: visible;
  transform: translateY(-300%);
  transition:
    opacity 0.4s,
    visibility 0.4s ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__list {
    display: grid;
    gap: 24px 32px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  &__item {
    &--link {
      display: flex;
    }
  }

  &__link {
    margin-top: auto;
    width: fit-content;
  }
}
