.menu {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'OswaldSemiBold';
  font-size: 20px;
  text-transform: uppercase;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: background-color ease 0.3s;

    &:hover {
      background-color: var(--green-dark-color);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;

    &--catalog {
      padding: 0 33px 0 33px;
      background-color: var(--accent-color);

      &__active {
        background-color: var(--green-dark-color);
      }
    }

    &--services,
    &--catalog {
      transition: background-color ease 0.3s;

      &:hover {
        background-color: var(--green-dark-color);
      }
    }

    &--services {
      padding: 0 16px 0 41px;

      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-image: url('../../img/svg/menu-drop-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 6px;
        transition: transform ease 0.2s;
      }

      &__active {
        background-color: var(--green-dark-color);

        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__link-img {
    margin-right: 8px;
  }
}
