<section class="about">
  <ul class="container">
    <div class="about__wrapper">
      <div class="about__left">
        <h2 class="about__title">О компании</h2>

        <h3 class="about__subtitle title-block">Техника для сбора
          и транспортировки ТКО</h3>

        <picture class="about__img about__img--mobile">
          <source srcset="img/about.webp" type="image/webp" />
          <img class="about__pic" src="img/about.jpg" alt="Картинка" decoding="async" />
        </picture>

        <p class="about__text">
          Компания ООО «Технотрейд» является эксклюзивным дистрибьютором крупнейших производителей оборудования для
          сбора
          и транспортировки ТКО (Infore Enviro, Zoomlion, GessinkNorba, Mcneilus) и осуществляет поставку машин и
          оборудования этих всемирно известных торговых марок, входящих в премиум сегмент техники. Техника отвечает всем
          требованиям Российских и международных стандартов, полностью сертифицирована, адаптирована под безотказную
          эксплуатацию в условиях российского климата.
        </p>

        <a class="about__details details details--white state" href="#">
          Узнать подробнее

          <svg class="details__svg" width="21" height="18" viewBox="0 0 21 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="#3a3a3a" stroke-width="2"
              stroke-linejoin="round" />
          </svg>
        </a>
      </div>

      <picture class="about__img">
        <source srcset="img/about.webp" type="image/webp" />
        <img class="about__pic" src="img/about.jpg" alt="Картинка" decoding="async" />
      </picture>
    </div>

    <ul class="about__achievements">
      <li class="about__achievements-item">
        <span class="about__achievements-top">>18 лет</span>
        <span class="about__achievements-bot">успешной работы</span>
      </li>
      <li class="about__achievements-item">
        <span class="about__achievements-top">>3000</span>
        <span class="about__achievements-bot">единиц поставленной техники</span>
      </li>
      <li class="about__achievements-item">
        <span class="about__achievements-top">Сервис</span>
        <span class="about__achievements-bot">собственная сервисная служба</span>
      </li>
      <li class="about__achievements-item">
        <span class="about__achievements-top">Запчасти</span>
        <span class="about__achievements-bot">собственный склад запчастей </span>
      </li>
    </ul>
    </div>
</section>