<section class="catalog">
  <div class="container">
    <div class="catalog__head">
      <h2 class="catalog__title title-block">Каталог техники</h2>
      <a class="catalog__details details state" href="#">Посмотреть все
        <svg class="details__svg" width="21" height="18" viewBox="0 0 21 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="white" stroke-width="2"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__product catalog-product">
          <a class="catalog-product__link" href="#">
            <div class="catalog-product__img">
              <picture>
                <source srcset="img/catalog-car.webp" type="image/webp" />
                <img class="catalog-product__img" src="img/catalog-car.png" alt="Фото машины" decoding="async" />
              </picture>
            </div>

            <h3 class="catalog-product__title">Мусоровозы</h3>

            <span class="catalog-product__models">9 моделей</span>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>