<section class="manufacturers">
  <div class="container">
    <h2 class="manufacturers__title title-block">Производители</h2>

    <p class="manufacturers__text">Мы работаем c надежными производителями всемирно известных торговых марок, входящих в
      премиум сегмент техники для сбора и транспортировки ТКО. </p>

    <ul class="manufacturers__list">
      <li class="manufacturers__item">
        <img src="img/partners/infore-logo.svg" alt="Лого">
      </li>
      <li class="manufacturers__item">
        <img src="img/partners/zoomlion-logo.svg" alt="Лого">
      </li>
      <li class="manufacturers__item">
        <img src="img/partners/geesinknorba-logo.png" alt="Лого">
      </li>
      <li class="manufacturers__item">
        <img src="img/partners/vdl-logo.png" alt="Лого">
      </li>
    </ul>
  </div>
</section>