<section class="news">
  <div class="container">
    <div class="news__head">
      <h2 class="news__title title-block">Новости</h2>
      <a class="news__details details state" href="#">Все новости
        <svg class="details__svg" width="21" height="18" viewBox="0 0 21 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="white" stroke-width="2"
            stroke-linejoin="round" />
        </svg>
      </a>

      <div class="news__slider-controls slider-controls">
        <div class="news__pagination slider-controls__pagination"></div>
      </div>
    </div>

    <div class="news__slider swiper">
      <ul class="news__list swiper-wrapper">
        <li class="news__item swiper-slide">
          <article class="news-card">
            <picture>
              <source srcset="img/news-car.webp" type="image/webp" />
              <img class="news-card__img" src="img/news-car.jpg" alt="Фото машины" decoding="async" />
            </picture>

            <time class="news-card__date">1 июля 2024</time>

            <h3 class="news-card__title">Приглашаем посетить выставку "СТТ Expo 2024" и познакомиться с инновационной
              техникой!</h3>

            <p class="news-card__text">В период с 28 по 31 мая 2024 года на территории МВЦ «Крокус Экспо» состоится
              главная выставка строительной техники и технологий в России</p>

            <a class="news-card__link" href="#">Подробнее</a>
          </article>
        </li>

        <li class="news__item swiper-slide">
          <article class="news-card">
            <picture>
              <source srcset="img/news-car.webp" type="image/webp" />
              <img class="news-card__img" src="img/news-car.jpg" alt="Фото машины" decoding="async" />
            </picture>

            <time class="news-card__date">1 июля 2024</time>

            <h3 class="news-card__title">Приглашаем посетить выставку "СТТ Expo 2024" и познакомиться с инновационной
              техникой!</h3>

            <p class="news-card__text">В период с 28 по 31 мая 2024 года на территории МВЦ «Крокус Экспо» состоится
              главная выставка строительной техники и технологий в России</p>

            <a class="news-card__link" href="#">Подробнее</a>
          </article>
        </li>

        <li class="news__item swiper-slide">
          <article class="news-card">
            <picture>
              <source srcset="img/news-car.webp" type="image/webp" />
              <img class="news-card__img" src="img/news-car.jpg" alt="Фото машины" decoding="async" />
            </picture>

            <time class="news-card__date">1 июля 2024</time>

            <h3 class="news-card__title">Приглашаем посетить выставку "СТТ Expo 2024" и познакомиться с инновационной
              техникой!</h3>

            <p class="news-card__text">В период с 28 по 31 мая 2024 года на территории МВЦ «Крокус Экспо» состоится
              главная выставка строительной техники и технологий в России</p>

            <a class="news-card__link" href="#">Подробнее</a>
          </article>
        </li>
      </ul>
    </div>
</section>