<section class="news-article">
  <div class="news-article__wrapper">
    <div class="container">
      <div class="news-article__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link state" href="index.html">Главная</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item">
            <a class="breadcrumbs__link state" href="news.html">Новости</a>
          </li>

          <li class="breadcrumbs__item breadcrumbs__item--active">
            <span>Компания «Технотрейд» примет участие в автопробеге ассоциации «Чистая страна»</span>
          </li>
        </ul>
      </div>

      <h1 class="news-article__title title-block">Компания «Технотрейд» примет участие в автопробеге ассоциации
        «Чистая страна»</h1>

      <div class="news-article__top">
        <time class="news-article__date">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
              fill="#3a3a3a"></path>
          </svg> 1&nbsp;июля 2024</time>

        <ul class="news-article__socials socials">
          <span>Поделиться:</span>
          <li class="socials__item">
            <a class="socials__link state" href="#">
              <img class="socials__img" src="img/socials/telegram.svg" alt="Телеграм">
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link state" href="#">
              <img class="socials__img" src="img/socials/youtube.svg" alt="Ютуб">
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link state" href="#">
              <img class="socials__img" src="img/socials/vk.svg" alt="ВКонтакте">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container container--none">
    <picture>
      <source srcset="img/news-article/news-article.jpg" type="image/webp">
      <img class="news-article__img" src="img/news-article/news-article.jpg" alt="Фото" decoding="async">
    </picture>
  </div>

  <div class="news-article__content">
    <div class="container">
      <div class="news-article__bot">
        <h2 class="news-article__subtitle subtitle">Подзаголовок</h2>

        <p class="news-article__text">Компания «Технотрейд» рада сообщить Вам что примет участие в автопробеге
          ассоциации «Чистая страна» в
          поддержку национального проекта «Экология».</p>
        <p class="news-article__text">Пробег стартует уже 6 сентября в Москве и завершиться в Екатеринбурге 29
          сентября, в общей сложности
          автопробег затронет 11 городов России, а протяженность маршрута составит более трех тысяч километров.</p>
        <p class="news-article__text news-article__text--margin">Наша компания для пробега предоставит два самых
          передовых и технологичных
          мусоровоза — это мусоровоз
          Geesinknorba и McNeilus. На протяжении всего маршрута будут демонстрироваться возможности современных
          мусоровозов, а самые маленькие участники даже смогут посидеть за рулем этих уникальных машин.</p>
        <div class="news-article__slider">
          <div class="news-article__slider-wrapper">
            <div class="swiper swiper-news-article">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
                <li class="swiper-slide">
                  <picture>
                    <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                    <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                  </picture>
                </li>
              </ul>
            </div>

            <div class="swiper-news-article-next swiper-button-next"></div>
            <div class="swiper-news-article-prev swiper-button-prev"></div>
          </div>

          <div class="swiper swiper-news-article-thumbs">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/news-article/slide-1.jpg" type="image/webp">
                  <img class="news-article__img" src="img/news-article/slide-1.jpg" alt="Фото" decoding="async">
                </picture>
              </li>
            </ul>
          </div>
        </div>

        <p class="news-article__text news-article__text--margin">Компания «Технотрейд» рада сообщить Вам что примет
          участие в автопробеге
          ассоциации «Чистая страна» в поддержку национального проекта «Экология».</p>

        <h2 class="news-article__subtitle subtitle">Подзаголовок</h2>
        <p class="news-article__text">Компания «Технотрейд» рада сообщить Вам что примет участие в автопробеге
          ассоциации «Чистая страна» в поддержку национального проекта «Экология».</p>
        <p class="news-article__text news-article__text--margin">Пробег стартует уже 6 сентября в Москве и завершиться
          в Екатеринбурге 29
          сентября, в общей сложности
          автопробег затронет 11 городов России, а протяженность маршрута составит более трех тысяч километров.</p>

        <blockquote class="news-article__blockquote blockquote">
          <p class="blockquote__text">Цитата. Компания «Технотрейд» рада сообщить Вам что примет участие в автопробеге
            ассоиации «Чистая
            страна» в
            поддержку национального проекта «Экология».</p>
          <p class="blockquote__text"> Пробег стартует уже 6 сентября в Москве и завершиться в Екатеринбурге 29
            сентября, в общей сложности
            автопробег затронет 11 городов России, а протяженность маршрута составит более трех тысяч километров.</p>

          <cite class="blockquote__author">– Иван Иванов, руководитель руководителей</cite>
        </blockquote>

        <p class="news-article__text">Компания «Технотрейд» рада сообщить Вам что примет участие в автопробеге
          ассоциации «Чистая страна» в
          поддержку национального проекта «Экология».</p>
        <p class="news-article__text news-article__text--margin">Пробег стартует уже 6 сентября в Москве и завершиться
          в Екатеринбурге 29 сентября, в общей сложности
          автопробег затронет 11 городов России, а протяженность маршрута составит более трех тысяч километров.</p>

        <div class="news-article__mark-text mark-text-block">
          <p class="mark-text-block__text">Еще вариант выделения. Компания «Технотрейд» рада сообщить Вам что примет
            участие в автопробеге ассоциации
            «Чистая страна» в поддержку национального проекта «Экология».</p>
          <p class="mark-text-block__text">Пробег стартует уже 6 сентября в Москве и завершиться в Екатеринбурге 29
            сентября, в общей сложности автопробег
            затронет 11 городов России, а протяженность маршрута составит более трех тысяч километров.</p>
        </div>

        <p class="news-article__text">Компания «Технотрейд» рада сообщить Вам что примет участие в автопробеге
          ассоциации «Чистая страна» в поддержку
          национального проекта «Экология».</p>
        <p class="news-article__text">Пробег стартует уже 6 сентября в Москве и завершиться в Екатеринбурге 29
          сентября, в общей сложности автопробег
          затронет 11 городов России, а протяженность маршрута составит более трех тысяч километров.</p>
      </div>
    </div>
  </div>

  <div class="news-article__news news">
    <div class="container">
      <div class="news__head">
        <h2 class="news__title title-block">Читайте также</h2>
        <a class="news__details details state" href="/news.html">Все новости
          <svg class="details__svg" width="21" height="18" viewBox="0 0 21 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="white" stroke-width="2"
              stroke-linejoin="round">
            </path>
          </svg>
        </a>

        <div class="news__slider-controls slider-controls">
          <div
            class="news__pagination slider-controls__pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic swiper-pagination-lock"
            style="width: 90px;"><span
              class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main"
              style="left: 18px;"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next"
              style="left: 18px;"></span><span
              class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" style="left: 18px;"></span>
          </div>
        </div>
      </div>

      <div class="news__slider swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
        <ul class="news__list swiper-wrapper">
          <li class="news__item swiper-slide swiper-slide-active" style="width: 1310px; margin-right: 20px;">
            <article class="news-card">
              <picture>
                <source srcset="img/news-car.webp" type="image/webp">
                <img class="news-card__img" src="img/news-car.jpg" alt="Фото машины" decoding="async">
              </picture>

              <div class="news-card__content">
                <time class="news-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                      fill="#93B947"></path>
                  </svg> 1&nbsp;июля 2024</time>

                <h3 class="news-card__title">Приглашаем посетить выставку «СТТ Expo 2024» и&nbsp;познакомиться
                  с&nbsp;инновационной
                  техникой!</h3>

                <p class="news-card__text">В&nbsp;период с&nbsp;28 по&nbsp;31&nbsp;мая 2024 года
                  на&nbsp;территории МВЦ
                  «Крокус Экспо» состоится
                  главная выставка строительной техники и&nbsp;технологий в&nbsp;России</p>

                <a class="news-card__link" href="#">Читать далее</a>
              </div>
            </article>
          </li>

          <li class="news__item swiper-slide swiper-slide-next" style="width: 1310px; margin-right: 20px;">
            <article class="news-card">
              <picture>
                <source srcset="img/news-car.webp" type="image/webp">
                <img class="news-card__img" src="img/news-car.jpg" alt="Фото машины" decoding="async">
              </picture>

              <div class="news-card__content">
                <time class="news-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                      fill="#93B947"></path>
                  </svg>1&nbsp;июля 2024</time>

                <h3 class="news-card__title">Приглашаем посетить выставку «СТТ Expo 2024» и&nbsp;познакомиться
                  с&nbsp;инновационной
                  техникой!</h3>

                <p class="news-card__text">В&nbsp;период с&nbsp;28 по&nbsp;31&nbsp;мая 2024 года
                  на&nbsp;территории МВЦ
                  «Крокус Экспо» состоится
                  главная выставка строительной техники и&nbsp;технологий в&nbsp;России</p>

                <a class="news-card__link" href="#">Читать далее</a>
              </div>
            </article>
          </li>

          <li class="news__item swiper-slide" style="width: 1310px; margin-right: 20px;">
            <article class="news-card">
              <picture>
                <source srcset="img/news-car.webp" type="image/webp">
                <img class="news-card__img" src="img/news-car.jpg" alt="Фото машины" decoding="async">
              </picture>

              <div class="news-card__content">
                <time class="news-card__date"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.8333 16.8335H4.16667V7.66683H15.8333M13.3333 1.8335V3.50016H6.66667V1.8335H5V3.50016H4.16667C3.24167 3.50016 2.5 4.24183 2.5 5.16683V16.8335C2.5 17.2755 2.67559 17.6994 2.98816 18.012C3.30072 18.3246 3.72464 18.5002 4.16667 18.5002H15.8333C16.2754 18.5002 16.6993 18.3246 17.0118 18.012C17.3244 17.6994 17.5 17.2755 17.5 16.8335V5.16683C17.5 4.7248 17.3244 4.30088 17.0118 3.98832C16.6993 3.67576 16.2754 3.50016 15.8333 3.50016H15V1.8335M14.1667 11.0002H10V15.1668H14.1667V11.0002Z"
                      fill="#93B947"></path>
                  </svg>1&nbsp;июля 2024</time>

                <h3 class="news-card__title">Приглашаем посетить выставку «СТТ Expo 2024» и&nbsp;познакомиться
                  с&nbsp;инновационной
                  техникой!</h3>

                <p class="news-card__text">В&nbsp;период с&nbsp;28 по&nbsp;31&nbsp;мая 2024 года
                  на&nbsp;территории МВЦ
                  «Крокус Экспо» состоится
                  главная выставка строительной техники и&nbsp;технологий в&nbsp;России</p>

                <a class="news-card__link" href="#">Читать далее</a>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <a class="news-article__details details state" href="/news.html">Все новости
        <svg class="details__svg" width="21" height="18" viewBox="0 0 21 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H20M20 9L12.0833 1.5M20 9L12.0833 16.5" stroke="white" stroke-width="2" stroke-linejoin="round">
          </path>
        </svg>
      </a>
    </div>
  </div>


</section>