<section class="questions">
  <div class="container">
    <div class="questions__wrapper">
      <div class="questions__left">
        <h2 class="questions__title title-block">Остались вопросы?</h2>

        <p class="questions__text">Оставьте заявку и наши специалисты свяжутся с вами</p>
      </div>

      <form class="questions__form" id="form" action="#">
        <label class="questions__label questions__label--name" for="name">
          <span class="questions__label-name">Имя*</span>

          <input class="questions__input" type="text" name="name" id="name" placeholder="Как к вам обращаться">
        </label>


        <div class="questions__block">
          <label class="questions__label" for="phone">
            <span class="questions__label-name">Телефон*</span>

            <input class="questions__input input-tel" type="tel" name="phone" id="phone" placeholder="">
          </label>

          <label class="questions__label" for="mail">
            <span class="questions__label-name">Email*</span>

            <input class="questions__input input-mail" type="email" name="mail" id="mail" placeholder="Ваша почта">
          </label>
        </div>


        <label class="questions__label" for="textarea">
          <span class="questions__label-name">Комментарий</span>

          <textarea class="questions__textarea" name="textarea" id="textarea"
            placeholder="Напишите ваш вопрос"></textarea>
        </label>

        <div class="questions__approval">
          <label class="questions__checkbox custom-checkbox">
            <input class="custom-checkbox__input visually-hidden" type="checkbox">
            <span class="custom-checkbox__span"></span>
          </label>

          <p class="questions__text">Я даю согласие на обработку персональных данных
            и соглашаюсь с <a class="questions__text-link" href="#">политикой конфиденциальности</a>
          </p>
        </div>

        <button class="questions__button">Отправить</button>
      </form>
    </div>
  </div>
</section>