<section class="questions">
  <div class="container">
    <div class="questions__wrapper">
      <div class="questions__left">
        <h2 class="questions__title title-block">Остались вопросы?</h2>

        <p class="questions__text">Оставьте заявку и наши специалисты свяжутся с вами</p>
      </div>

      <form class="questions__form form" id="questions-form" name="questions-form" action="#">
        <label class="form__label form__label--name" for="name">
          <span class="form__label-name">Имя*</span>

          <input class="form__input input-name" autocomplete="off" type="text" name="name" id="name"
            placeholder="Как к вам обращаться" data-validate-field="name">
        </label>


        <div class="form__block">
          <label class="form__label" for="phone">
            <span class="form__label-name">Телефон*</span>

            <input class="form__input input-tel" type="tel" name="phone" id="phone" data-validate-field="phone">
          </label>

          <label class="form__label" for="mail">
            <span class="form__label-name">Email*</span>

            <input class="form__input input-mail" autocomplete="off" type="email" name="mail" id="mail"
              placeholder="Ваша почта" data-validate-field="mail">
          </label>
        </div>


        <label class="form__label form__label--textarea" for="textarea">
          <span class="form__label-name">Комментарий</span>

          <textarea class="form__textarea input-textarea" name="textarea" id="textarea"
            placeholder="Напишите ваш вопрос" data-validate-field="textarea"></textarea>
        </label>

        <div class="form__approval">
          <label class="form__label form__label--checkbox custom-checkbox">
            <input class="custom-checkbox__input input-checkbox visually-hidden" type="checkbox"
              data-validate-field="checkbox">
            <span class="custom-checkbox__span"></span>
          </label>

          <p class="form__text">Я даю согласие на обработку персональных данных
            и соглашаюсь с <a class="form__text-link" href="#">политикой конфиденциальности</a>
          </p>
        </div>

        <button class="form__button">Отправить</button>
      </form>
    </div>
  </div>
</section>