.feedback-block {
  display: flex;
  flex-direction: column;

  &__link,
  &__btn-trigger {
    padding: 2px;
    font-family: 'OswaldSemiBold';
    text-transform: uppercase;
  }

  &__link {
    margin-bottom: 4px;
    font-size: 24px;

    svg {
      display: none;

      @media screen and (width <= 1025px) {
        display: inline-block;
        margin-right: 4px;
      }
    }

    @media screen and (width <= 1104px) {
      font-size: 20px;
    }

    @media screen and (width <= 1025px) {
      margin-bottom: 0;
    }

    @media screen and (width <= 576px) {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__btn-trigger {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-size: 16px;
    text-decoration: underline;
    color: var(--accent-color);

    @media screen and (width <= 1025px) {
      display: none;
    }

    svg {
      margin-right: 5px;
    }
  }

  &--mobile {
    .feedback-block__link {
      font-size: 18px;

      svg {
        display: none;
      }
    }

    .feedback-block__btn-trigger {
      display: block;
      align-self: flex-start;
    }
  }
}
