*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  overflow-x: hidden;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 18px;
  overflow: hidden;

  &--no-scroll {
    overflow: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

blockquote {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.text {
  line-height: 1.4;

  &--margin {
    margin-bottom: 32px;

    @media screen and (width <= 576px) {
      font-size: 24px;
    }
  }

  @media screen and (width <= 576px) {
    font-size: 16px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  &--none {
    @media screen and (width <= 576px) {
      padding: 0;
    }
  }
}

.state {
  outline: transparent;
  transition:
    color 0.3s,
    opacity 0.3s,
    text-decoration-color 0.3s,
    box-shadow 0.3s,
    transform 0.3s,
    background-color 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px var(--accent-color);
  }

  &:active {
    box-shadow: 0 0 0 2px var(--accent-color);
    opacity: 0.7;
  }

  &:hover {
    color: var(--green-dark-color);
  }
}

.title-block {
  font-family: 'OswaldBold';
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;

  @media screen and (width <= 1024px) {
    font-size: 34px;
  }

  @media (max-width: (768px)) {
    font-size: 28px;
  }

  @media screen and (width <= 576px) {
    font-size: 24px;
  }
}

.subtitle {
  font-family: 'OswaldSemiBold';
  font-size: 24px;
  text-transform: uppercase;

  @media screen and (width <= 1024px) {
    font-size: 20px;
  }

  @media (max-width: (768px)) {
    font-size: 22px;
  }

  @media screen and (width <= 576px) {
    font-size: 18px;
  }
}

section {
  padding: 80px 0;

  @media screen and (width <= 768px) {
    padding: 48px 0;
  }
}
