.catalog {
  padding-bottom: 90px;

  @media screen and (width <= 576px) {
    padding-bottom: 32px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @media screen and (width <= 576px) {
      margin-bottom: 32px;
    }
  }

  &__list {
    display: grid;
    gap: 63px 32px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (width <= 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width <= 850px) {
      gap: 24px 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <= 576px) {
      margin-bottom: 32px;
    }
  }

  &__details {
    width: fit-content;

    &--mobile {
      &.details {
        display: none;
      }

      &.details {
        @media screen and (width <= 576px) {
          display: block !important;
          width: 100%;
          text-align: center;
        }
      }
    }

    &.details {
      @media screen and (width <= 576px) {
        display: none;
      }
    }
  }
}
