.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 60px 0;
  background-color: var(--bg-grey-color);

  @media screen and (width <= 991px) {
    padding: 40px 0 32px;
  }

  &::before {
    content: '';
    position: absolute;
    right: -430px;
    top: -370px;
    display: block;
    width: 1200px;
    height: 1100px;
    background-image: url('../img/bg-arrows.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (width <= 1200px) {
      right: -230px;
      top: -170px;
      width: 900px;
      height: 900px;
    }

    @media screen and (width <= 768px) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    margin-bottom: 10px;

    @media screen and (width <= 1270px) {
      align-items: center;
      margin-bottom: 20px;
    }

    @media screen and (width <= 991px) {
      align-items: center;
      margin-bottom: 40px;
    }

    @media screen and (width <= 768px) {
      flex-direction: column;
      margin-bottom: 24px;
    }
  }

  &__content {
    margin-right: 30px;

    @media screen and (width <= 991px) {
      margin-right: 10px;
    }

    @media screen and (width <= 768px) {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 24px;
    max-width: 640px;
    font-family: 'OswaldBold';
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;

    @media screen and (width <= 1270px) {
      margin-bottom: 20px;
      font-size: 40px;
    }

    @media screen and (width <= 991px) {
      font-size: 34px;
    }

    @media screen and (width <= 576px) {
      margin-bottom: 16px;
      font-size: 30px;
    }

    &--green {
      color: var(--accent-color);
    }
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 560px;
    font-size: 20px;
    opacity: 0.6;

    @media screen and (width <= 1270px) {
      margin-bottom: 24px;
      font-size: 18px;
    }

    @media screen and (width <= 576px) {
      font-size: 16px;
    }
  }

  &__img {
    position: relative;
    right: -140px;

    @media screen and (width <= 1500px) {
      position: static;
      right: 0;
    }

    @media screen and (width <= 1270px) {
      width: 100%;
    }
  }

  .swiper-slide {
    overflow: hidden;
  }

  &__slider-controls-wrapper {
    @media screen and (width <= 991px) {
      display: flex;
      justify-content: center;
    }
  }
}
