.popular-questions {
  background-color: var(--bg-grey-color);
  padding: 0;

  &--padding {
    padding-top: 80px;

    @media screen and (width <= 768px) {
      padding-top: 48px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }
  }
}
