.questions {
  &--grey {
    background-color: var(--bg-grey-color);
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 40px;
    background-color: var(--accent-color);

    @media screen and (width <= 990px) {
      flex-direction: column;
    }

    @media screen and (width <= 768px) {
      padding: 48px 16px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -60px;
      bottom: -55px;
      z-index: 0;
      display: block;
      width: 507px;
      height: 476px;
      background-image: url('../img/bg-arrows.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (width <= 576px) {
        display: none;
      }
    }
  }

  &__left {
    margin-right: 15px;

    @media screen and (width <= 990px) {
      margin: 0 0 40px;
    }
  }

  &__title {
    margin-bottom: 16px;
    color: var(--white-color);

    @media screen and (width <= 990px) {
      margin-bottom: 8px;
    }
  }

  &__text {
    line-height: 1.6;
    color: var(--white-color);

    @media screen and (width <= 576px) {
      font-size: 16px;
      line-height: 1.4;
      opacity: 0.6;
    }
  }

  &__form {
    z-index: 1;
    width: 100%;
    max-width: 600px;

    @media screen and (width <= 990px) {
      max-width: 100%;
      font-size: 18px;
    }

    .form__block {
      @media screen and (width <= 576px) {
        flex-direction: column;

        .form__label {
          margin-right: 0;
        }
      }
    }

    .form__input,
    .form__textarea {
      @media screen and (width <= 576px) {
        padding: 11px 16px;
      }
    }

    .form__textarea {
      @media screen and (width <= 576px) {
        height: 96px;
      }
    }

    .form__button {
      @media screen and (width <= 576px) {
        width: 100%;
      }
    }
  }
}
