.questions {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 40px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 507px;
      height: 476px;
      background-image: url('../../img/bg-arrows.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      left: -60px;
      bottom: -55px;
    }
  }

  &__left {
    margin-right: 15px;
  }

  &__title {
    color: var(--white-color);
    margin-bottom: 16px;
  }

  &__text {
    color: var(--white-color);
    line-height: 1.6;
  }
}
