.services {
  padding-bottom: 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @media screen and (max-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__left {
    margin-right: 10px;

    @media screen and (max-width: 768px) {
      margin: 0 0 32px 0;
    }
  }

  &__text {
    max-width: 416px;
    line-height: 1.4;
    opacity: 0.6;
    margin-bottom: 24px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  &__details {
    width: fit-content;

    &--mobile {
      &.details {
        display: none;

        @media screen and (max-width: 768px) {
          display: block !important;
          width: 100%;
          justify-content: center;
          text-align: center;
        }
      }
    }

    &.details {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 87px;
    position: relative;

    @media screen and (max-width: 1200px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding-bottom: 48px;
    }

    &::after {
      content: '';
      display: block;
      background-color: var(--grey-light-color);
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  &__slider {
    max-width: 864px;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      margin-bottom: 25px;
    }
  }

  &__slider-controls {
    &.slider-controls {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  &__item {
    // width: 304px !important;
    max-width: 304px;
    width: 100%;
    flex-shrink: 0;

    @media screen and (max-width: 1200px) {
      // width: 100% !important;
    }
  }

  &__img {
    position: relative;

    img {
      width: 304px;
      height: 202px;

      @media screen and (max-width: 768px) {
        height: 150px;
      }

      @media screen and (max-width: 576px) {
        height: 109px;
      }
    }

    &::before {
      content: '';
      display: block;
      height: 202px;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity ease 0.3s;

      @media screen and (max-width: 768px) {
        height: 150px;
      }

      @media screen and (max-width: 576px) {
        height: 109px;
      }
    }
  }

  &__link {
    &:hover {
      .services__card-title {
        color: var(--accent-color);
      }

      .services__img::before {
        opacity: 1;
      }
    }
  }

  &__card-title {
    font-family: 'OswaldSemiBold';
    font-size: 24px;
    text-transform: uppercase;
    transition: color ease 0.3s;
    margin-top: 16px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-top: 8px;
    }
  }
}
